.AddTask {
  display: flex;
  width: 13vw;
  height: 5vh;
  background-color: rgb(219, 214, 255);
  border: 3px outset rgb(156, 172, 169);
  /*justify-content: space-between;*/
  border-radius: 100px;
  position: absolute;
  bottom: 3vh;
  margin-left: 1.1vw;
}

.inputAdd {
  border-radius: 100px;
  border: 0;
  outline: none;
  margin-left: 0.9rem;
  background-color: rgb(219, 214, 255);
  overflow: hidden;
}

.inputAdd[type="text"] {
  font-size: 1.1rem;
}

#myInput,
textarea {
  max-width: 9.8vw;
}

.addBtn {
  width: 3rem;
  height: 3rem;
  background-color: rgb(156, 172, 169);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  cursor: pointer;
}

.addBtn:hover {
    background-color: rgb(142, 158, 155);
}


.fa-plus {
  font-size: 1.1rem;
  color: rgb(219, 214, 255);
}
