.Calender {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  color: rgb(252, 145, 145);
  overflow: hidden;
}

.Data {
  display: flex;
  width: 6rem;
  justify-content: space-between;
}

.Data > :nth-child(1) {
  font-size: 3.2rem;
  line-height: 2.4rem;
}

.Data > :nth-child(2) {
  font-size: 1.15rem;
}

.Weekday {
  font-size: 1.5rem;
}
